<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">POO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Wagner Souza</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Conteúdo
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/classescontexto">Classes e Contexto</a></li>
            <li><a class="dropdown-item" href="/encapsulamentoprivado">Encapsulamento Privado</a></li>
            <li><a class="dropdown-item" href="/estados">Getters/ Setter e Estados</a></li>
            <li><a class="dropdown-item" href="/responsabilidadeUnica">Solid (S) - Responsabilidade ùnica</a></li>
            <li><a class="dropdown-item" href="/variaveisemetodosdeclasse">Variáveis e Métodos de Classe</a></li>
            <li><a class="dropdown-item" href="/metodosEstaticos">Métodos Estáticos</a></li>
            <li><a class="dropdown-item" href="/associacaoDeClasses">Associação de Classes</a></li>
            <li><a class="dropdown-item" href="/abertoFechado">Solid (O) - Aberto/Fechado</a></li>
            <li><a class="dropdown-item" href="/injecaoDependencia">Injeção de Dependência</a></li>
            <li><a class="dropdown-item" href="/bilateral">Associação Bilateral</a></li>


            <li><a class="dropdown-item" href="/introducaoHeranca">Introdução à Herença</a></li>
            <li><a class="dropdown-item" href="/encapsulamentoHeranca">Encapsulamento em Heranças</a></li>
            <li><a class="dropdown-item" href="/principioSubstituicao">Solid (L) - Pricípio da Substituição de Liskov</a></li>
            <li><a class="dropdown-item" href="/polimorfismo">Polimorfismo</a></li>
            <li><a class="dropdown-item" href="/metodosClassesAbstratas">Métodos e Classes Abstratas</a></li>
            <li><a class="dropdown-item" href="/interface">Interfaces</a></li>
            <li><a class="dropdown-item" href="/segregacaoInterface">Solid (I) - Principio da Segregacao de Interface</a></li>
            <li><a class="dropdown-item" href="/inversaoDependencia">Solid (D) - Principio da Inversão da Dependência</a></li>
            <li><a class="dropdown-item" href="/agregacaoClasses">Agregação de Classes</a></li>
            <li><a class="dropdown-item" href="/composicaoClasses">Composição de Classes</a></li>




          </ul>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>